#banner{
    display: flex;
    margin: 25px 0px;
    padding: 80px 90px;
    background:linear-gradient(313.18deg, #EE9AE5 3.28%, #5961F9 97.04%);
    border-radius: 48px 48px 300px 48px;
}

h1{
    margin: 0px; 
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 70px;
    letter-spacing: -0.64px;
}

#banner p{
    margin: 25px 0px;
    color: #fff;
}

.buttom_planes{
    padding: 12px 35px;
    background-color: transparent; 
    border: 1px solid #ffffff;
    color: #fff;
    }

